@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ccc;
    --background: #28292a;
    --blue: #3e7dec;
    --red: #ec3e3e;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #222;
    --background: #eee;
    --blue: #156bff;
    --red: #ff1515;
  }
}

:root {
  color: var(--foreground);
}

html, body {
  margin: 0;
}

body {
  background-color: var(--background);
  font-family: sans-serif;
}

.game-screen {
  display: grid;
  grid-template-areas: "left board right";
}

.board {
  background-color: var(--foreground);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2vmin;
  height: 100vmin;
  width: 100vmin;
  margin: 0 auto;
  grid-area: board;
}

.board > * {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25vmin;
}

.player1 {
  color: var(--red);
}

.player2 {
  color: var(--blue);
}

.player-stats {
  margin: 1rem;
  font-size: 2.5rem;
}

.player-stats--2 {
  text-align: right;
}

.player-stats .score {
  font-weight: bold;
}
