@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ccc;
    --background: #28292a;
    --footer-background: #333;
    --blue: #3e7dec;
    --red: #ec3e3e;
    --green: #52ec3e;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #222;
    --background: #eee;
    --footer-background: #ddd;
    --blue: #156bff;
    --red: #ff1515;
    --green: #15ff15;
  }
}

:root {
  color: var(--foreground);
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
}

body {
  background-color: var(--background);
  font-family: sans-serif;
}

.menu-screen {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  margin-top: auto;
  box-sizing: border-box;
  padding: 2rem 1rem;
  width: 100%;
  text-align: center;
  background-color: var(--footer-background);
}

.footer-link {
  display: inline-flex;
  align-items: center;
  gap: .1rem;
}

.footer-link i {
  font-size: 1.6em;
}

.title {
  font-family: 'Abril Fatface', sans-serif;
  font-size: clamp(2rem, 10vw, 15rem);
  text-align: center;
}

.title .word1 {
  color: var(--red);
}

.title .word2 {
  color: var(--green);
}

.title .word3 {
  color: var(--blue);
}

.menu-buttons-wrapper {
  display: flex;
  justify-content: center;
}

.menu-buttons {
  display: flex;
  max-width: 40rem;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
  justify-content: space-around;
  margin-bottom: 6rem;
}

.menu-buttons button, .start-button {
  padding: 1.2em 1.7em;
  color: #eee;
  background-color: var(--blue);
  border: 0.25em solid var(--foreground);
  border-radius: 1rem;
  transition: filter .2s ease-out;
}

.menu-buttons button:hover, .menu-buttons button:focus-visible,
.start-button:hover, .start-button:focus-visible {
  filter: brightness(1.2);
}

.game-screen {
  display: grid;
  grid-template-areas: "left board right";
}

.board {
  background-color: var(--foreground);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2vmin;
  height: 100vmin;
  width: 100vmin;
  margin: 0 auto;
  grid-area: board;
}

.board > * {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25vmin;
}

.player1 {
  color: var(--red);
}

.player2 {
  color: var(--blue);
}

.player-stats {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.player-stats .menu-buttons {
  justify-content: right;
}

.player-stats--2 {
  text-align: right;
}

.player-stats .score {
  font-weight: bold;
}

.player-to-move {
  padding-bottom: 6rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 2rem;
  background-color: var(--background);
  border: 1px solid var(--foreground);
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-top-bar {
  text-align: right;
}

.modal-form legend {
  font-size: 1.5rem;
  display: block;
  width: 100%;
  text-align: center;
}

.modal-form .fields {
  padding: 2rem 0;
  display: grid;
  gap: 1rem;
}

.modal-form .field {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.modal-form .field input {
  border: 3px solid var(--foreground);
  border-radius: 4px;
  padding: .3rem .5rem;
}

.modal-form .field label {
  white-space: nowrap;
}

.modal-form .field input:focus {
  box-shadow: 0 0 2px 3px var(--blue);
}

.start-button {
  padding: 1rem;
  border-width: 4px;
}

.hidden {
  display: none;
}


@media (orientation: portrait), (max-aspect-ratio: 5/3) {
  .game-screen {
    grid-template-areas: "board board"
    "left right";
    gap: 1rem 0;
  }
}


@media (min-width: 1300px) {
  .menu-buttons {
    font-size: 1.5rem;
  }

  .player-stats {
    font-size: 2rem;
  }
}

@media (min-width: 1800px) {
  .player-stats {
    font-size: 2.5rem;
  }
}
